# Table of Contents

## 1.0 Setup
## 2.0 Data Cleaning
## 3.0 Exporting Data

## 1.0 Setup

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Defining the path

path = (r'E:\OneDrive\ANITA\DATA ANALYST\IMMERSION\Achievement 6\11-22 Food Balance Sheet Analysis\2.0 Data')

In [3]:
# Importing fbs_start.pkl as fbs

fbs = pd.read_pickle(os.path.join(path, '2.1 Original data', 'fbs_start.pkl'))

## 2.0 Data Cleaning

In [4]:
fbs.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2010,2010,1000 persons,29186.0,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2011,2011,1000 persons,30117.0,X,Figure from international organizations
2,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2012,2012,1000 persons,31161.0,X,Figure from international organizations
3,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2013,2013,1000 persons,32270.0,X,Figure from international organizations
4,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2014,2014,1000 persons,33371.0,X,Figure from international organizations

In [5]:
fbs.shape

(3000600, 14)

In [6]:
fbs.nunique()

Domain Code             1
Domain                  1
Area Code (M49)       180
Area                  180
Element Code           18
Element                18
Item Code (CPC)        99
Item                   99
Year Code              10
Year                   10
Unit                    5
Value               29242
Flag                    3
Flag Description        3
dtype: int64

In [7]:
# Checking for mixed types

for col in fbs.columns.tolist():
    weird = (fbs[[col]].applymap(type) != fbs[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (fbs[weird]) > 0:
        print (col)

Unit
Flag
Flag Description

In [8]:
# Finding missing values in the fbs

fbs.isnull().sum()

Domain Code               0
Domain                    0
Area Code (M49)           0
Area                      0
Element Code              0
Element                   0
Item Code (CPC)           0
Item                      0
Year Code                 0
Year                      0
Unit                1184345
Value               1186000
Flag                1184345
Flag Description    1184345
dtype: int64

In [9]:
# Extracting the subset with the missing values from fbs

fbs_nan = fbs[fbs['Value'].isnull() == True]

In [10]:
fbs_nan

# Missing values were left as is

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
40,FBS,Food Balances (2010-),4,Afghanistan,5911,Export Quantity,S2511,Wheat and products,2010,2010,NaN,NaN,NaN,NaN
41,FBS,Food Balances (2010-),4,Afghanistan,5911,Export Quantity,S2511,Wheat and products,2011,2011,NaN,NaN,NaN,NaN
42,FBS,Food Balances (2010-),4,Afghanistan,5911,Export Quantity,S2511,Wheat and products,2012,2012,NaN,NaN,NaN,NaN
43,FBS,Food Balances (2010-),4,Afghanistan,5911,Export Quantity,S2511,Wheat and products,2013,2013,NaN,NaN,NaN,NaN
94,FBS,Food Balances (2010-),4,Afghanistan,5131,Processing,S2511,Wheat and products,2014,2014,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199975,FBS,Food Balances (2010-),716,Zimbabwe,5171,Tourist consumption,S2899,Miscellaneous,2015,2015,NaN,NaN,NaN,NaN
199976,FBS,Food Balances (2010-),716,Zimbabwe,5171,Tourist consumption,S2899,Miscellaneous,2016,2016,NaN,NaN,NaN,NaN
199977,FBS,Food Balances (2010-),716,Zimbabwe,5171,Tourist consumption,S2899,Miscellaneous,2017,2017,NaN,NaN,NaN,NaN
199978,FBS,Food Balances (2010-),716,Zimbabwe,5171,Tourist consumption,S2899,Miscellaneous,2018,2018,NaN,NaN,NaN,NaN
199979,FBS,Food Balances (2010-),716,Zimbabwe,5171,Tourist consumption,S2899,Miscellaneous,2019,2019,NaN,NaN,NaN,NaN

In [11]:
# Creating a subset with the duplicated values from the fbs

fbs_duplicates = fbs[fbs.duplicated()]

In [12]:
fbs_duplicates

# No duplicates were found

Empty DataFrame
Columns: [Domain Code, Domain, Area Code (M49), Area, Element Code, Element, Item Code (CPC), Item, Year Code, Year, Unit, Value, Flag, Flag Description]
Index: []

In [13]:
fbs.dtypes

Domain Code          object
Domain               object
Area Code (M49)       int64
Area                 object
Element Code          int64
Element              object
Item Code (CPC)      object
Item                 object
Year Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
dtype: object

In [14]:
# Deleting unnecessary columns

fbs = fbs.drop(columns = ['Domain Code', 'Domain', 'Area Code (M49)', 'Item Code (CPC)', 'Year Code', 'Flag', 'Flag Description'])

In [15]:
fbs.shape

(3000600, 7)

In [16]:
fbs.dtypes

Area             object
Element Code      int64
Element          object
Item             object
Year              int64
Unit             object
Value           float64
dtype: object

In [17]:
# Changing the data type of the column "Element Code"

fbs['Element Code'] = fbs['Element Code'].astype('str')

In [18]:
fbs.dtypes

Area             object
Element Code     object
Element          object
Item             object
Year              int64
Unit             object
Value           float64
dtype: object

In [19]:
fbs.describe()

               Year         Value
count  3.000600e+06  1.814600e+06
mean   2.014500e+03  2.355983e+02
std    2.872282e+00  6.620040e+03
min    2.010000e+03 -1.947100e+04
25%    2.012000e+03  0.000000e+00
50%    2.014500e+03  1.000000e-01
75%    2.017000e+03  8.000000e+00
max    2.019000e+03  1.465634e+06

In [20]:
fbs.head()

,Area,Element Code,Element,Item,Year,Unit,Value
0,Afghanistan,511,Total Population - Both sexes,Population,2010,1000 persons,29186.0
1,Afghanistan,511,Total Population - Both sexes,Population,2011,1000 persons,30117.0
2,Afghanistan,511,Total Population - Both sexes,Population,2012,1000 persons,31161.0
3,Afghanistan,511,Total Population - Both sexes,Population,2013,1000 persons,32270.0
4,Afghanistan,511,Total Population - Both sexes,Population,2014,1000 persons,33371.0

In [21]:
fbs.shape

(3000600, 7)

## 3.0 Exporting Data

In [22]:
# Exporting the fbs to fbs.pkl

fbs.to_pickle(os.path.join(path, '2.2 Prepared data', 'fbs.pkl'))